*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* debug */

.debug .container *{
  border: 2px dashed black;
}

.debug header{
  background-color: lightblue;
}

.debug .header-top{
  background-color:  beige;
}

.debug .header-bottom{
  height: 400px;
  background-color: blue;
}

.debug .header-content{
  height: 100%;
  background-color: palevioletred;
}

.debug main section{
  height: 450px;
}

.debug .section-c{
  height: 700px;
}

.debug .section-a{
  background-color: #fff;
}

.debug .section-b,
.debug .section-c{
  background-color: lightgray;
}

.debug .flex-section,
.debug .normal-section{
  height: 100%;
}

.debug .normal-section{
  background-color: green;
}

.debug .image-col{
  background-color: pink;
}

.debug .text-col{
  background-color:lightskyblue;
}

.debug footer{
  background-color: black;
}

.debug .footer-top{
  height: 600px;
  border-bottom: 2px solid white;
}

.debug .footer-bottom{
  height: 100px;
  background-color: lightgreen;
}

.debug footer .logo,
.debug footer .subscribe{
  background-color: blueviolet;
}



/* regole css */

/* header */

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.header-top{
  height: 100px;
  display: flex;
  align-items: center;
}

.header-top .logo-col,
.header-top nav,
.header-top .login-col{
    padding: 20px 0;
}

.header-top .logo-col{
  width: 20%;
}

.header-top nav{
  width: 60%;
  text-align: center;
}

.header-top .login-col{
  width: 20%;
  text-align: right;
}

.header-bottom{
  padding: 40px 0;
}

.header-content{
  max-width: 900px;
  margin: 0 auto;
}

/* main */

main section{
  padding: 40px;
}

.flex-section{
  display: flex;
}

.image-col{
  width: 60%;
}

.text-col{
  width: 40%;
}

.section-b .flex-section{
  flex-direction: row-reverse;
}

/* footer */

.footer-top,
.footer-bottom{
  display: flex;
  color: #fff;
  padding: 20px 0;
}

.main-col{
  background-color: purple;
  width: 30%;
}

.menu-col{
  display: flex;
  background-color: aqua;
  width: 100%;
}

.menu-col .column{
  width: 25%;
}

.footer-bottom{
  justify-content: space-between;
  align-items: center;
}